includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-strict-rulesw/rules.neon
parameters:
    fileExtensions:
        - php
    reportUnmatchedIgnoredErrors: true